<svg class="background-svg w-full mx-auto" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1440 560" preserveAspectRatio="none">
    <g mask="url(#SvgjsMask1042)" fill="none">
        <rect  x="0" y="0" fill="#0e2a47"></rect>
        <path d="M333.84 107.79 a145.26 145.26 0 1 0 290.52 0 a145.26 145.26 0 1 0 -290.52 0z" fill="rgba(219, 175, 207, 0.74)" class="triangle-float3"></path>
        <path d="M299.69 288.19 a140.51 140.51 0 1 0 281.02 0 a140.51 140.51 0 1 0 -281.02 0z" fill="rgba(219, 175, 207, 0.74)" class="triangle-float1"></path>
        <path d="M847.67 157.62 a107.52 107.52 0 1 0 215.04 0 a107.52 107.52 0 1 0 -215.04 0z" fill="rgba(219, 175, 207, 0.74)" class="triangle-float3"></path>
        <path d="M776.757,412.674C815.117,414.599,853.522,393.979,870.095,359.331C885.114,327.931,866.021,294.075,847.615,264.533C830.668,237.333,808.793,210.394,776.757,209.525C743.526,208.624,715.054,231.438,698.914,260.5C683.266,288.677,683.671,322.018,698.349,350.712C714.609,382.499,741.098,410.884,776.757,412.674" fill="rgba(219, 175, 207, 0.74)" class="triangle-float3"></path>
    </g>
    <defs>
        <mask id="SvgjsMask1042">
            <rect  fill="#ffffff"></rect>
        </mask>
        <style>
            @keyframes float1 {
                0% { transform: translate(0, 0) }
                50% { transform: translate(-10px, 0) }
                100% { transform: translate(0, 0) }
            }

            .triangle-float1 {
                animation: float1 5s infinite;
            }

            @keyframes float2 {
                0% { transform: translate(0, 0) }
                50% { transform: translate(-5px, -5px) }
                100% { transform: translate(0, 0) }
            }

            .triangle-float2 {
                animation: float2 4s infinite;
            }

            @keyframes float3 {
                0% { transform: translate(0, 0) }
                50% { transform: translate(0, -10px) }
                100% { transform: translate(0, 0) }
            }

            .triangle-float3 {
                animation: float3 6s infinite;
            }
        </style>
    </defs>
  </svg>
</div>