<header class="flex justify-center items-center pt-4 pb-20 ">
    <nav class="flex flex-row gap-x-10 md:gap-x-20 opacity-80  ">
        <a href="/" class="hover:scale-110 hover:text-yellow-200 transition">Home</a>
        <a href="#experience" class="hover:scale-110 hover:text-purple-200">Experience</a>
        <a href="#about" class="hover:scale-110 hover:text-sky-200">About</a>
        <a href="#projects" class="hover:scale-110 hover:text-green-200">Projects</a>
        <a href="#contact" class="hover:scale-110 hover:text-red-200">Contact</a>
    </nav>
</header>